<div class="parent w-100  d-flex justify-content-end p-2">
    <!-- ICON -->
    <section class="w-25 ">
        <img class="w-100" src="./assets/img/icons/common/payment.svg" alt="">
    </section>
    <!-- card info form -->
    <section class="w-75">
        <div class="section section-shaped section-lg">
            <div class="container pt-lg-md">
                <div class="row justify-content-center">
                    <div class="col-lg-6 mt-5">
                        <div class="card shadow-lg p-3 mb-5 bg-white border-0">
                            <div class="card-header bg-white pb-5">
                                <div class="text-center mb-3">
                                    <h1 class="text">Payment</h1>
                                </div>
                            </div>
                            <div class="card-body px-lg-5 py-lg-5">
                                <form role="form" [formGroup]="form" (submit)="submit($event)"
                                    enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative mb-3">
                                            <input class="form-control" id="cardHolder" formControlName="cardHolder"
                                                placeholder="Card Holder Name" type="text">
                                            <ng-container *ngIf="this.getCardHolder.touched">
                                                <div *ngIf="this.getCardHolder.hasError('required')"
                                                    class="invalid-feedback d-block">
                                                    Card Holder is Required
                                                </div>

                                                <div *ngIf="this.getCardHolder.hasError('pattern')" class="invalid-feedback d-block">
                                                    Card Holder length between 5 to 50 chars
                                                </div>
                                             
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative mb-3">
                                            <input class="form-control" id="cardNumber" formControlName="cardNumber"
                                                placeholder="0123 4567 8910 1121" type="text">
                                            <ng-container *ngIf="this.getCardNumber.touched">
                                                <div *ngIf="this.getCardNumber.hasError('required')"
                                                    class="invalid-feedback d-block">
                                                    Card Number is Required
                                                </div>
                                                <div *ngIf="this.getCardNumber.hasError('pattern')" class="invalid-feedback d-block">
                                                    Card Number is invalid
                                                </div>
                                       
                                            </ng-container>
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="w-75 h-100 input-group  input-group-alternative mb-3 test">
                                            <input class="form-control expirDate" formControlName="expirDate" id="expirDate" placeholder="MM/YY">
                                            <ng-container *ngIf="this.getExpirDate.touched">
                                                <div *ngIf="this.getExpirDate.hasError('required')"
                                                    class="invalid-feedback d-block">
                                                    ExpirDate is Required
                                                </div>

                                                <div *ngIf="this.getExpirDate.hasError('pattern')" class="invalid-feedback d-block">
                                                    ExpirDate is Invalid
                                                </div>
                                     
                                            </ng-container>
                                        </div>
                                        <div class="w-25 h-100 input-group input-group-alternative mb-3 test">
                                            <input class="form-control cvc" formControlName="CVC" [maxLength]="3" id="CVC" placeholder="CVC" type="text">
                                            <ng-container *ngIf="this.getCVC.touched">
                                                <div *ngIf="this.getCVC.hasError('required')"
                                                    class="invalid-feedback d-block">
                                                    CVC is Required
                                                </div>
                                                <div *ngIf="this.getCVC.hasError('pattern')"
                                                    class="invalid-feedback d-block">
                                                    CVC is Invalid
                                                </div>
                                
                                            </ng-container>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                    </div>





                                    <div class="text-center">
                                        <button type="submit" class="btn create mt-4">Add Card</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>