<div class="container upcoming" style="width: 100%; overflow-x: auto">
  <div class="booking-summary">
    <h2 class="title">Booking Summary</h2>
    <div class="breadcrumbs">
      <a href="/home" class="aa">Home</a>/<a [routerLink]="
          role === 'MENTOR'
            ? '/mentor/profile-mentor'
            : '/mentee/profile-mentee'
        " class="aa">Profile</a>/ <span class="currentLink">{{ currentLinkText }}</span>
    </div>
  </div>
  <div class="row mb-5">
    <div class="column col-lg-3 col-md-6 col-sm-12 mx-auto" id="container">
      <main class="profile-page">
        <div class="profile-container col-sm-12">
          <div class="profile-header d-flex justify-content-space-between gap-3">
            <div class="profile-image">
              <img src='./assets/img/theme/team-1-800x800.jpg' alt="Profile Image"
                class="rounded-circle profile-picture" />
            </div>
            <div class="profile-info">
              <h2 class="name">{{user?.name|titlecase}}</h2>
              <p *ngIf="role=='MENTOR'" class="job">{{user.categoryId|titlecase}}</p>
              <p class="country mt-2">Egypt</p>
            </div>
          </div>
          <div class="profile-links">
            <a [class.is-active]="currentLink === 'booking'" (click)="showDiv('booking', 'Requests')">Requests</a>
            <a [class.is-active]="currentLink === 'upcoming'" (click)="showDiv('upcoming', 'Upcoming Session')"
              class="is-active">Upcoming Session</a>
            <a [class.is-active]="currentLink === 'reviews'" *ngIf="role === 'MENTOR'"
              (click)="showDiv('reviews', 'Reviews')">Reviews</a>
            <a [class.is-active]="currentLink === 'services'" *ngIf="role === 'MENTOR'"
              (click)="showDiv('services', 'My Services')">My Services</a>
          </div>
        </div>
      </main>
    </div>

    <div class="rating col-md-9 overflow-x-auto">
      <div *ngIf="currentDiv === 'upcoming'">
        <app-upcoming-sessions></app-upcoming-sessions>
      </div>
      <div *ngIf="currentDiv === 'booking'" class="new-div">
        <app-requests></app-requests>
      </div>

      <div *ngIf="currentDiv === 'reviews'" class="reviews-div">
        <app-rate></app-rate>
      </div>

      <div *ngIf="currentDiv === 'services'" class="w-100">
        <app-list-services></app-list-services>
        <!-- <app-edit-profile *ngIf="role === 'mentee'"></app-edit-profile> -->
      </div>
    </div>
  </div>
</div>