<section class="section section-lg mt-5">
  <div class="container d-flex col-lg-12 justify-content-between mt-5">
    <div class="col-lg-4" >
      <h1 class="h mt-5">About us</h1>
      <p class="mt-5">Our mentorship services are designed to provide you with the support and guidance you need to achieve your personal and
      professional goals. We believe that everyone has the potential to succeed, and our team of experienced mentors is here
      to help you unlock your full potential.
      
      Whether you are looking to start a new career, build your skills, or simply gain some clarity and direction in your
      life.</p>
    </div>

    <div class="col-lg-6">
      <img src="/assets/img/ill/about.png" alt="">
    </div>

  </div>
</section>


