<section class="section section-lg mt-5">
  <div class="container d-flex col-lg-12 justify-content-between mt-5">
    <div class="col-lg-4" >
      <h1 class="h mt-5">About us</h1>
      <p class="mt-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, voluptates saepe? Quis illo iste necessitatibus deserunt amet ex voluptates nemo hic, eius sint corporis recusandae reprehenderit, culpa exercitationem similique possimus.</p>
    </div>

    <div class="col-lg-6">
      <img src="/assets/img/ill/about.png" alt="">
    </div>

  </div>
</section>

<section class="section section-lg">
  <div class="container d-flex col-lg-12 justify-content-between mt-5">
    <div class="card col-lg-4">
      <div class="d-flex">
        <img src="/assets/img/ill/vision.png" alt="">
        <h1 class="card-title">
          mession
        </h1>
      </div>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

    </div>
    <div class="card col-lg-4">
      <h1 class="card-title">
        mession
      </h1>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    </div>
    <div class="card col-lg-4">
      <h1 class="card-title">
        mession
      </h1>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    </div>
  </div>
</section>
