<!-- <div class="container shadow ">
 <div class="row">
  <div class="col-lg-6 justify-content-center">
     <div class="img">
      <img src="https://images.pexels.com/photos/15736213/pexels-photo-15736213/free-photo-of-fashion-woman-girl-purple.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid rounded-circle">
     </div>

  </div>
  <div class="col-lg-6 justify-content-center text-align-center">
    <div class="title">
      <h3>Ahmed Osama</h3>
    </div>
    <div class="title">
      <p>Ahmed@gmail.com</p>
    </div>

 </div>
 </div>
</div> -->
  <!-- <div class="container py-5 h-100"> -->
    <div class="row d-flex justify-content-center align-items-center p-5">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card shadow" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid"
                  style="width: 180px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ms-3 p-5" >
                <h5 class="mb-1">Danny McLoan</h5>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">Senior Journalist</p>
                <div class="editbutton">
                  <button type="button" class="btn">Edit Profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
