.profileImage img{
  object-fit: cover;
  border: 2px solid #A1E3D8;
}

.profileImage{
  text-align: center;
  justify-content: center;
}
h3{
  font-weight: bold;
}
.buttons .btn{
width: 100px !important;
height: auto;
}
.buttons{
   display: flex;
   justify-content: end;
}
.BtnSave{
  background-color: #069A8E;
  color: antiquewhite;
}
.BtnCancle{
  background-color: rgb(212, 7, 7);
  color: antiquewhite;
}
