input
{
  height: 51px;
  width: 497px;
  left: 0px;
  top: 32px;
  border-radius: 16px;
  padding: 16px;
}
button{
  height: 55px;
  width: 497px;
  left: 0px;
  top: 491px;
  justify-content: center;
  border-radius: 48px;
  background: #1FAB89;
  font-size: x-large;
  color: #FFFFFF;
}
.container
{
  padding-top: 40px;
  height: 744px;
width: 623px;
left: 0px;
top: 0px;
border-radius: 19.005781173706055px;
justify-content: center;

}
img
{
height: 42px;
width: 42px;
left: 0px;
top: 0px;
border-radius: 0px;
background: #005555;
height: 42px;
width: 42px;
left: 0px;
top: 0px;
border-radius: 0px;


}
.icon{
  height: 20.839012145996094px;
width: 20.839012145996094px;

border-radius: 0px;
margin: auto;


color: #FFFFFF;

}
.profileImage
{
background-color: #005555;
height: 42px;
width: 42px;
left: 0px;
top: 0px;
border-radius: 0px;

}
