input
{
  height: 51px;
  width: 497px;
  left: 0px;
  top: 32px;
  border-radius: 16px;
  padding: 16px;
}
button{
   height: 55px;
  width: 497px;
  /* left: 0px;
  top: 491px; */
  justify-content: center;
  border-radius: 48px;
  background: #1FAB89;
  font-size: x-large;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 10px;
}
.container
{
padding-top: 40px;
 height: 744px;
width: 623px;
/* left: 0px;
top: 0px; */
border-radius: 19.005781173706055px;
justify-content: center;

}
img
{
height: 42px;
width: 42px;
left: 0px;
background: #005555;
height: 42px;
width: 42px;



}
.icon{
height: 20.839012145996094px;
width: 20.839012145996094px;
color: #FFFFFF;
margin: auto;

}
.profileImage
{
background-color: #005555;
height: 40px;
width: 40px;
display: flex;
justify-content: center;
position: absolute;
top: 20px;
right:40px;
}
label
{
width: 135px;
height: 24px;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #1B1A1A;
flex: none;
order: 0;
flex-grow: 0;
}
