<main>
  <section class="section section-shaped section-lg ">
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-6 mt-5">
          <div class="card shadow-lg p-3 mb-5 bg-white border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-center mb-3 mt-3">
                <h1 class="text">Log in</h1>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form [formGroup]="Form" (submit)="submit($event)">
                <div class="form-group mb-3" >
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="User Name" id="UserName" formControlName="UserName">
                  </div>
                  <ng-container *ngIf="this.getUserName.touched">
                    <div
                      *ngIf="this.getUserName.hasError('required')"
                      class="invalid-feedback d-block"
                    >
                      User name is Required
                    </div>
                    <div
                      *ngIf="this.getUserName.hasError('UserName')"
                      class="invalid-feedback d-block"
                    >
                     Invalid User name
                    </div>
                  </ng-container>
                </div>
                <div class="form-group" >
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Password" type="password" id="Password">
                  </div>
                  <ng-container *ngIf="this.getPassword.touched">
                    <div
                      *ngIf="this.getPassword.hasError('required')"
                      class="invalid-feedback d-block"
                    >
                      Password is required
                    </div>
                    <div
                      *ngIf="this.getPassword.hasError('minlength')"
                      class="invalid-feedback d-block"
                    >
                      Password must be at least 8 characters
                    </div>

                    <div
                      *ngIf="this.getPassword.hasError('pattern')"
                      class="invalid-feedback d-block"
                    >
                      Password must contain uppercase lowercase and special character
                    </div>
                    <div *ngIf="this.errors" class="invalid-feedback d-block">
                      {{this.errors[0]}}
                    </div>
                  </ng-container>
                </div>
                <div class="d-flex justify-content-between mt-5">
                  <div class="custom-control custom-control-alternative custom-checkbox ">
                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                    <label class="custom-control-label px-2" for=" customCheckLogin">
                      <span>Remember me</span>
                    </label>
                  </div>
                  <div>
                    <span style="color: #1FAB89;">Forgot Password</span>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-block my-4">Log in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>
