<main>
  <section class="section section-shaped section-lg ">
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-6 mt-5">
          <div class="card shadow-lg p-3 mb-5 bg-white border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-center mb-3 mt-3">
                <h1>Log in</h1>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">

              <form role="form">
                <div class="form-group mb-3" >
                  <label>E-Mail</label>
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Email" type="email" >
                  </div>
                </div>
                <div class="form-group" >
                  <label>Password</label>
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Password" type="password" >
                  </div>
                </div>
                <div class="d-flex justify-content-between mt-5">
                  <div class="custom-control custom-control-alternative custom-checkbox ">
                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                    <label class="custom-control-label px-2" for=" customCheckLogin">
                      <span>Remember me</span>
                    </label>
                  </div>
                  <div>
                    <span style="color: #1FAB89;">Forgot Password</span>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button " class="btn btn-block my-4">Log in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>
