.card{
  background: #FFFFFF;
opacity: 0.7;
border: 1px solid #D9D9D9;
border-radius: 32px;
}

.create{
  border-radius: 48px;
  background:#1FAB89;
  color: beige;

}

.btn:hover{
  background:#62D2A2;
}

.container{
  padding-bottom: 100px;
}

input{
background: #F8F8F8;
border: 1px solid #D9D9D9;
border-radius: 16px;
}
.text{
  font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: black;
}
