<main>
  <section class="section section-shaped section-lg">
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-6 mt-5">
          <div class="card shadow-lg p-3 mb-5 bg-white border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-center mb-3">
                <h1 class="text">Create Account</h1>
              </div>
              <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn" (click)="setRole('MENTOR')">Mentor</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn" (click)="setRole('MENTEE')">Mentee</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form role="form" [formGroup]="form" (submit)="submit($event)" enctype="multipart/form-data">
                <div class="form-group" >
                  <div class="input-group input-group-alternative mb-3">
                    <input class="form-control" formControlName="name" placeholder="Full Name" type="text" >
                    <ng-container *ngIf="this.getName.touched">
                      <div
                        *ngIf="this.getName.hasError('required')"
                        class="invalid-feedback d-block"
                      >
                        User name is Required
                      </div>
                      <div *ngIf="this.errors?.name" class="invalid-feedback d-block">
                        {{ this.errors?.name[0] }}
                      </div>
                    </ng-container>
                  </div>
                </div>


                <div class="form-group" >
                  <div class="input-group input-group-alternative mb-3">
                    <input class="form-control" formControlName="email" placeholder="Email" type="email" >
                    <ng-container *ngIf="this.getEmail.touched">
                      <div
                        *ngIf="this.getEmail.hasError('required')"
                        class="invalid-feedback d-block"
                      >
                        Email is Required
                      </div>
                      <div
                        *ngIf="this.getEmail.hasError('email')"
                        class="invalid-feedback d-block"
                      >
                        Email is Invalid
                      </div>
                      <div *ngIf="this.errors?.email" class="invalid-feedback d-block">
                        {{ this.errors?.email[0] }}
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <input class="form-control" formControlName="password" placeholder="Password" type="password" >
                    <ng-container *ngIf="this.getPassword.touched">
                      <div
                        *ngIf="this.getPassword.hasError('required')"
                        class="invalid-feedback d-block"
                      >
                        Password is required
                      </div>
                      <div
                        *ngIf="this.getPassword.hasError('minlength')"
                        class="invalid-feedback d-block"
                      >
                        Password is at least 8 characters
                      </div>

                      <div
                        *ngIf="this.getPassword.hasError('pattern')"
                        class="invalid-feedback d-block"
                      >
                        Password must contain uppercase lowercase and special character
                      </div>

                      <div *ngIf="this.errors?.password" class="invalid-feedback d-block">
                        {{ this.errors?.password[0] }}
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <input class="form-control" formControlName="password2" placeholder="Confirm Password" type="password" >
                    <ng-container *ngIf="this.getPassword2.touched">
                      <div
                        *ngIf="this.getPassword2.hasError('required')"
                        class="invalid-feedback d-block"
                      >
                        Password is required
                      </div>
                      <div
                        *ngIf="this.getPassword2.value != this.getPassword.value"
                        class="invalid-feedback d-block"
                      >
                        passwords must match
                      </div>


                    </ng-container>
                  </div>
                </div>
                <!-- <div class="text-muted font-italic">
                  <small>password strength:
                    <span class="text-success font-weight-700">strong</span>
                  </small>
                </div> -->

                <div class="file">
                  <label for="formFile" class="form-label">Avatar</label>
                  <input
                    class="form-control small-input"
                    type="file"
                    formControlName="formFile"
                    (change)="readUrl($event)"
                    formControlName="image"
                  />
                  <ng-container>
                    <div
                      *ngIf="this.getImage.hasError('required') && this.getImage.touched"
                      class="invalid-feedback d-block"
                    >
                      image is required
                    </div>
                    <div
                      *ngIf="this.getImage.hasError('maxSize') && this.getImage.touched"
                      class="invalid-feedback d-block"
                    >
                      image size mustn't exceed 2mb
                    </div>
                    <div
                      *ngIf="
                        this.getImage.hasError('invalidExtension') &&
                        this.getImage.touched
                      "
                      class="invalid-feedback d-block"
                    >
                      image type is not valid
                    </div>

                    <div *ngIf="this.errors?.picture" class="invalid-feedback d-block">
                      {{ this.errors?.picture[0] }}
                    </div>
                  </ng-container>
                </div>

                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span>I agree with the
                          <a href="javascript:void(0)">Privacy Policy</a>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn create mt-4" >Create account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
