<div class="w-100 d-flex justify-content-center">
<div class="card p-5 w-75 m-5" style="background: white; height: 24rem;">
  <div class="card-body ">
    <div class="row justify-content-between gap-2">
      <h3 class="card-title mb-2 fw-bold col text-capitalize" style="color:#1FAB89;">{{service?.title}}</h3>
      <button *ngIf="userRole==='MENTEE'" class="col-2 btn btn-success" (click)="requsetOrAddPayment()">{{validPayment?"Request Service":"Add Payment First" }}</button>
    </div>
    <div class="d-flex">
      <div class="deuration d-flex px-4">
        <mat-icon>av_timer</mat-icon>
        <p class="ms-2">{{ service?.duration }} hours</p>
      </div>
      <div class="price d-flex">
        <mat-icon> attach_money</mat-icon>
        <p class="ms-2">{{ service?.price | currency }} $</p>
      </div>
    </div>
    <span>Service_Details </span>
    <p class="mt-2 ms-4">
      {{ service?.details }}
    </p>
  </div>
</div>
<!-- </div> -->
