<div class="card p-5" style="background: white; min-height: 24rem;">
  <div class="card-body">
    <div class="row justify-content-between gap-2">
      <h3 class="card-title mb-2 fw-bold col" style="color:#1FAB89;">ٍService Name</h3>
      <button class="col-1 btn btn-success">Apply</button>
    </div>
    <div class="row justify-content-start">
      <p class="card-text col-1">Ahmed</p>
      <p class="card-text col-1">3 hours</p>
      <p class="card-text col-1">80 $</p>
    </div>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minima ducimus molestias nisi aspernatur? Dolor repudiandae expedita ipsa rem tempore, dicta laborum, reprehenderit commodi harum repellat, consequatur asperiores perferendis sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque est quibusdam eaque iusto eligendi distinctio totam. Dignissimos error delectus repellendus, sunt dicta eum reiciendis suscipit veritatis, nobis dolor ducimus sed?</p>
  </div>
</div>
