.search{
border: 1px solid #D9D9D9;
box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.08);
border-radius: 48px;
}

.register{
    border-radius: 48px;
    background: #1FAB89;
    border: 1px solid #1FAB89;
    color: beige;
}

.login{
    border-radius: 48px;
    border: 1px solid #1FAB89;
    color: #1FAB89;
}
