<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent headroom headroom--top headroom--pinned"
>
  <div class="container">
    <div
      class="navbar-collapse collapse"
      id="navbar_global"

    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-3 collapse-brand">
            <a class="navbar-brand mr-lg-5 logo" [routerLink]="['/home']">
              <img src="./assets/img/brand/newlogo.svg" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text" style="color: black"
              >About us</span
            >
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text" style="color: black"
              >Contact</span
            >
          </a>
        </li>
      </ul>
      <div class="input-group col-md-3">
        <input
          class="form-control py-2 search"
          type="search"
          placeholder="search"
          id="example-search-input"
        />
        <span class="input-group-append">
          <button class="btn search" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>

      <!-- BEFORE LOGIN  -->
      <!-- <ul class="navbar-nav align-items-lg-center ml-lg-auto">
         <li class="nav-item d-none d-lg-block ml-lg-4">
          <a [routerLink]="['/register']" target="_blank" class="btn btn-neutral register ">
            <span class="nav-link-inner--text">Create account</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ">
          <a [routerLink]="['/login']" target="_blank" class="btn login ">
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
      </ul> -->

      <!-- AFTER LOGIN -->
      <ul class="navbar-nav align-items-lg-center justify-content-between">
        <li class="nav-item dropdown">
          <a
            class="nav-link nav-link-icon"
            data-toggle="dropdown"
            role="button"
          >
            <i class="fa fa-bell"></i>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">Landing</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>
            <a [routerLink]="['/login']" class="dropdown-item">Login</a>
            <a [routerLink]="['/register']" class="dropdown-item">Register</a>
          </div>
        </li>
        <li>
          <div class="d-flex align-items-lg-center justify-content-end">
            <a
              href="./user-profile"
              class="nav-link nav-item"
              role="button"
            >
              <img
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                src="./assets/img/theme/team-1-800x800.jpg"
                style="width: 50px"
                alt=""
              />
            </a>
            <a class="nav-link nav-item dropdown px-0" data-toggle="dropdown" role="button">
              <span class="fa fa-caret-down"></span>
              <div class="dropdown-menu">
                <a [routerLink]="['/mentee/dashboard']" class="dropdown-item"
                  >dashboard</a
                >
                <a [routerLink]="['/user-profile']" class="dropdown-item"
                  >Profile</a
                >
                <a [routerLink]="['/login']" class="dropdown-item">log out</a>
              </div>
            </a>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-navbar" target="_blank" data-toggle="tooltip" title="Star us on Github">
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li> -->
