<div class="container">
  <p class="addtext">Add Service</p>
  <div class="row">
    <div class="card base shadow mb-5 bg-white ">
      <form role="form" [formGroup]="form" (submit)="submit($event)" enctype="multipart/form-data">
        <div class="row">
          <div class="col-lg-12">
            <div class="m-4 py-4">
              <div class="row">
                <div class="col-md-12">
                  <label class="labels my-2">Service title</label>
                  <input type="text" class="form-control" formControlName="title" placeholder="Title" />
                  <ng-container *ngIf="this.getTitle.touched">
                    <div *ngIf="this.getTitle.hasError('required')" class="invalid-feedback d-block">
                      Title is Required
                    </div>

                    <div *ngIf="this.getTitle.hasError('pattern')" class="invalid-feedback d-block">
                      Title length between 5 to 50 chars
                    </div>

                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="labels my-2">Service Description </label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="details"
                    placeholder="Description" rows="3"></textarea>
                  <ng-container *ngIf="this.getDetails.touched">
                    <div *ngIf="this.getDetails.hasError('required')" class="invalid-feedback d-block">
                      Service Description is Required
                    </div>

                    <div *ngIf="this.getDetails.hasError('pattern')" class="invalid-feedback d-block">
                      Service Description length between 10 to 200 chars
                    </div>

                  </ng-container>
                </div>
                <div class="col-md-6">
                  <label class="labels my-2">Duration</label>
                  <input type="text" class="form-control" formControlName="duration" placeholder="Duration" />
                  <ng-container *ngIf="this.getDuration.touched">
                    <div *ngIf="this.getDuration.hasError('required')" class="invalid-feedback d-block">
                      Service Duration is Required
                    </div>

                    <div *ngIf="this.getDuration.hasError('pattern')" class="invalid-feedback d-block">
                      Service Duration only 1 , 2 or 3 hours
                    </div>

                  </ng-container>
                </div>
                <div class="col-md-6">
                  <label class="labels my-2">Cost/Session</label>
                  <input type="text" class="form-control" formControlName="price" placeholder="10$" />
                  <ng-container *ngIf="this.getPrice.touched">
                    <div *ngIf="this.getPrice.hasError('required')" class="invalid-feedback d-block">
                      Cost is Required
                    </div>

                    <div *ngIf="this.getPrice.hasError('pattern')" class="invalid-feedback d-block">
                      Cost max is 50$
                    </div>

                  </ng-container>
                </div>
              </div>
              <div class="row buton">
                <button type="submit" class="btn">add Service</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container col-lg-4">
      <div class="card shadow bg-white video">
        <div class="row">
          <div class="how">How to add service</div>
          <div class="bgiconvideo">
            <mat-icon>video_library</mat-icon>
          </div>
        </div>
      </div>
      <div class="mt-4 firstnote">
        <p class="p1note">Start to add service</p>
        <div class="div1note">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page.
        </div>
      </div>
      <div class="mt-4 firstnote">
        <p class="p1note">Start to add service</p>
        <div class="div1note">
          It is a long established fact that a reader will be distracted by the readable.
          It is a long established fact that a reader will be.
        </div>
      </div>
      <!-- <div class="mt-4 firstnote">
         <p class="p1note">Start to add service</p>
        <div class="div1note">
          It is a long established fact that a reader will be distracted by the readable.
        </div> 
      </div> -->
    </div>
  </div>
</div>
