<div class="w-100 d-flex flex-column  justify-content-center" style="background-color: #f8f8f8">
  <div class="w-100 mt-3 mb-3 d-flex justify-content-center">
    <form [formGroup]="myform" (submit)="submit($event)" class="w-75 d-flex justify-content-center ">
      <input formControlName="value" [placeholder]="placeholder" class="form-control w-50 m-2 rounded-pill" type="text"
        required>
      <button class="btn m-2 rounded-pill" style="color: white; background-color: #1fab89"> Search</button>
    </form>
  </div>
  <!-- <div class="container"> -->

  <div class="row col-lg-12 justify-content-around " style="background-color: #f8f8f8">
    <div class="rounded col-lg-2 ms-5 me-5  h-100" style="background-color: #ffffff">
      <h4 style="color: #1fab89">Filters</h4>

      <select class="form-select mt-3 p-2 w-100 rounded" [(ngModel)]="categoryID" style="background-color: #f8f8f8"
        aria-label="Default select example">
        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>

      </select>

      <button (click)="filter()" class="btn w-100 mt-3 rounded-pill" style="background: #1fab89; color: #ffffff">

        Apply Filters
      </button>
    </div>
    <div class="col-lg-9 row ">
      <div *ngIf="!(mentors.length>0)&& (itemsPerPage>0)" class="w-100">
        <p class="text-center fs-3">No Search Result for '{{getSearchValue.value}}'</p>
      </div>
      <div *ngFor="let mentor of mentors" class="col-lg-4 row rounded justify-content-around "
        style="background-color: #f8f8f8">
        <div class="card col-sm-6 col-md-4 col-lg-3 p-1 mb-4" style="
        width: 17rem;
        background: white;
        height: 20rem;
        border-radius: 16px;
      ">
          <img class="card-img-top" src="https://th.bing.com/th/id/OIP.Jx1lm0vaWB5JR08wnxxlpQHaE7?pid=ImgDet&rs=1"
            alt="Card image cap" style="min-height: 20vh; width: 100%; object-fit: fill" />
          <div class="card-body">
            <div class="row justify-content-between">
              <h5 class="card-title mb-2 ml-3 fw-bold col-8">{{mentor?.name||'Khaled amr'}}</h5>
              <div class="col row ml-5">
                <i class="bi bi-star-fill col-1" style="color: darkorange"></i>
                <p class="card-title mb-2 col">{{mentor?.averageRate?mentor?.averageRate+'/5':'3/5'}}</p>
              </div>
            </div>
            <p class="card-text">{{mentor?.categoryName||"JS Developer"}}</p>
            <div class="text-center">
              <a routerLink='/mentee/view-mentor/{{mentor?.id}}' class="btn w-100 rounded-pill"
                style="color: white; background-color: #1fab89">More
                Details</a>
            </div>
          </div>
        </div>
        <div *ngIf="totalItems>itemsPerPage" class="pagination">
          <app-pagination [totalItems]="totalItems" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
            (pageChanged)="onPageChanged($event)"></app-pagination>
        </div>


      </div>
    </div>
  </div>


</div>


