<section class="section section-lg ">


<div class="p-5 row  justify-content-between" >
    <div class="rounded col-2 pt-3 pb-3 h-50" style="background-color: #FFFFFF;">
        <h4 style="color: #1FAB89;">Filters</h4>
        <label class="form-label" for="customRange1">Price</label>
        <div class="range">
          <input type="range" class="form-range" id="customRange1" min="0" max="50" />
        </div>
        <select class="form-select mt-3 p-2  w-100 rounded" style="background-color: #F8F8F8;" aria-label="Default select example">
            <option selected>Categories</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select mt-3 p-2  w-100 rounded" style="background-color: #F8F8F8;"  aria-label="Default select example">
            <option selected>Skills</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select mt-3 p-2 w-100 rounded" style="background-color: #F8F8F8;" aria-label="Default select example">
            <option selected>Date, Time</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select mt-3 p-2  w-100 rounded" style="background-color: #F8F8F8;" aria-label="Default select example">
            <option selected>Rating</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select mt-3 p-2  w-100 rounded" style="background-color: #F8F8F8;" aria-label="Default select example">
            <option selected>Availabiliy</option>
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
            <option value="all">All</option>
        </select>
        <button class="btn w-100 mt-3" style="background: #1FAB89; color: #FFFFFF;">Result of Search</button>
    </div>
    <div class="col-10 row rounded justify-content-evenly" >
        <div class="card col-sm-6 col-md-4 col-lg-3 p-1" style="width: 18rem; background: white; height: 23rem;">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.Jx1lm0vaWB5JR08wnxxlpQHaE7?pid=ImgDet&rs=1" alt="Card image cap" style="min-height: 20vh; width: 100%; object-fit: fill;"> 
            <div class="card-body">
              <div class="row justify-content-between">
                <h5 class="card-title mb-2 ml-2 fw-bold">Hamok4a</h5>
                <i class="bi bi-star-fill"></i>
                <p class="card-title mb-2">3/5</p>
              </div>
              <p class="card-text">JS Developer</p>
              <div class="text-center">
                <a href="#" class="btn w-100 border border-4" style="border-radius: 48px;
                background: #1FAB89;
                border: 1px solid #1FAB89;
                color: beige;" >More Details</a>
              </div>
            </div>
        </div>
        <div class="card col-sm-6 col-md-4 col-lg-3 p-1" style="width: 18rem; background: white; height: 23rem;">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.Jx1lm0vaWB5JR08wnxxlpQHaE7?pid=ImgDet&rs=1" alt="Card image cap" style="min-height: 20vh; width: 100%; object-fit: fill;"> 
            <div class="card-body">
              <h5 class="card-title mb-2 fw-bold">Hamok4a</h5>
              <p class="card-text">JS Developer</p>
              <div class="text-center">
                <a href="#" class="btn w-100 border border-4" style="color: #1FAB89; border-color: #1FAB89;" >More Details</a>
              </div>
            </div>
        </div>
        <div class="card col-sm-6 col-md-4 col-lg-3 p-1" style="width: 18rem; background: white; height: 23rem;">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.Jx1lm0vaWB5JR08wnxxlpQHaE7?pid=ImgDet&rs=1" alt="Card image cap" style="min-height: 20vh; width: 100%; object-fit: fill;"> 
            <div class="card-body">
              <h5 class="card-title mb-2 fw-bold">Hamok4a</h5>
              <p class="card-text">JS Developer</p>
              <div class="text-center">
                <a href="#" class="btn w-100 border border-4" style="color: #1FAB89; border-color: #1FAB89;" >More Details</a>
              </div>
            </div>
        </div>
        <div class="card col-sm-6 col-md-4 col-lg-3 p-1" style="width: 18rem; background: white; height: 23rem;">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.Jx1lm0vaWB5JR08wnxxlpQHaE7?pid=ImgDet&rs=1" alt="Card image cap" style="min-height: 20vh; width: 100%; object-fit: fill;"> 
            <div class="card-body">
              <h5 class="card-title mb-2 fw-bold">Hamok4a</h5>
              <p class="card-text">JS Developer</p>
              <div class="text-center">
                <a href="#" class="btn w-100 border border-4" style="color: #1FAB89; border-color: #1FAB89;" >More Details</a>
              </div>
            </div>
        </div>
        <div class="card col-sm-6 col-md-4 col-lg-3 p-1" style="width: 18rem; background: white; height: 23rem;">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.Jx1lm0vaWB5JR08wnxxlpQHaE7?pid=ImgDet&rs=1" alt="Card image cap" style="min-height: 20vh; width: 100%; object-fit: fill;"> 
            <div class="card-body">
              <h5 class="card-title mb-2 fw-bold">Hamok4a</h5>
              <p class="card-text">JS Developer</p>
              <div class="text-center">
                <a href="#" class="btn w-100 border border-4" style="color: #1FAB89; border-color: #1FAB89;" >More Details</a>
              </div>
            </div>
        </div>
       
    </div>
</div>

</section>
