.custom-table {
    width: 919px;
    border-collapse: collapse;
}

.custom-table thead {
    background-color: #EDFFF6;
    /* border-radius: 16px 16px 0px 0px !important; */
}

.custom-table th,
.custom-table td {
    text-align: center;
    padding: 16px;
}
table.custom-table {
/* margin-left: 55px; */
margin-top: 44px;
box-shadow: 0px 4px 28px rgba(119, 113, 113, 0.08); 
}
.custom-table thead th:first-child {
    border-top-left-radius: 16px;
    }

    .custom-table thead th:last-child {
    border-top-right-radius: 16px;
    }
    .custom-table .date {
    background-color: #F8F8F8;
    padding: 3px 14px;
    border-radius: 32px;
    }
    .custom-table td button {
    /* color: #fff; */
    padding: 3px 17px;
    }
    .user-info {
    display: flex;
    align-items: center;
    }

    .user-image {
    height: 36px;
    width: 36px;
    left: 36px;
    top: 0;
    border-radius: 32px;
    margin-right: 8px;
    }


    .user-name {
    font-weight: bold;
    }
    .user-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    }

    table.bottom-border-radius {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .rating {
        display: flex;
    }
    
    .golden-star {
        color: gold;
    }
    
    .white-star {
        color: white;
    }
    