<section>
  <div class="container main">
    <div class="row">
      <div class="col-lg-10">
        <div class="container">
          <div class="container first shadow my-3 p-4">
            <div class="row ifno">
              <div class="col-lg-8 d-flex ">
                <div class="img">
                  <img
                    src=" https://images.pexels.com/photos/17168343/pexels-photo-17168343/free-photo-of-hot-air-balloon-flying-over-man-riding-on-horse.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt=""
                    class="img-fluid rounded-circle"
                  />
                </div>
                <div class="nameRate">
                  <div class="name">Ahemd Nagy</div>
                <div class="title mt-3">Ux / UI Designer</div>
                <div class="rate mt-1">
                  <i class="fa-solid fa-star" style="color: #fdde30"></i>
                  <i class="fa-solid fa-star" style="color: #fdde30"></i>
                  <i class="fa-solid fa-star" style="color: #fdde30"></i>
                  <i class="fa-solid fa-star" style="color: #fdde30"></i>
                  <i class="fa-solid fa-star" style="color: #fdde30"></i>
                </div>
                </div>
              </div>
                <p class="myp mt-3">
                  Accomplished UI/UX Designer with 6+ years of experience eager
                  to make a positive impact at Jersey Frames. During my time at
                  Greentibs, I increased user satisfaction by 20% with redesign
                  of the website. Boosted conversions by 500% with mobile app
                  design. Worked with the Marketing & Dev teams to achieve
                  quarterly KPIsuser satisfaction by 20% with redesign of the
                  website.
                </p>
            </div>
          </div>
          <div class="container second shadow my-3">
            <div class="row">
              <div class="col-lg-2 Skills m-5">
                <p class="text-center">Skills</p>
              </div>
              <div class="col-lg-8">
                <ul class="list-group list-group-flush mt-4">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                  <li class="list-group-item">A fourth item</li>
                  <li class="list-group-item">And a fifth one</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container third shadow">
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-2">
        <div class="btn btn-info">Hire Me</div>
      </div> -->
    </div>
  </div>
</section>

