<main>
  <div class="d-flex justify-content-center">

    <div *ngIf="showData" class="d-flex justify-content-center flex-column">
      <h3>Your request has been sent!!</h3>
      <h6>back to dashboard in 2 sec..!</h6>
    </div>
  </div>
  <section class="section section-lg">
    <div class="container main d-flex col-lg-9 mt-5 shadow-lg p-3 mb-5 bg-white border-0 justify-content-between">
      <div class="col-lg-5 text-center mt-5">
        <h1 class="text">Invoce Form</h1>
        <img class="mt-5 mb-5" src="./assets/img/ill/invoice.svg" />
      </div>
      <div class="col-lg-6 mt-5 ">
        <form class="mt-5">
          <div class="card mt-2">
            <form>
              <div class="container">
                <div class="mentor mb-3">
                  <div class="mt-2">
                    <label for="Mentor">Service</label>
                    <h6>{{service?.title |titlecase}}</h6>
                  </div>
                  <!-- <div class="mt-2">
                    <label >Payment Method</label>
                    <h6>Debit card</h6>
                    <h6>432 546546 7657657</h6>
                  </div> -->
                </div>
                <div class="info d-flex justify-content-between">
                  <div class="col-lg-3">
                    <h6>Date</h6>
                    <h6>Time</h6>
                    <h6>Total cost</h6>
                  </div>
                  <div class="col-lg-4">
                    <h6>{{formateDate(MyData?.startDate)}}</h6>
                    <!-- <h6>12:00 pm</h6> -->
                    <h6>{{service?.price|currency}}</h6>
                  </div>
                </div>
              </div>
            </form>

            <button class="btn mt-5 mb-5" type="submit" (click)="submit()">
              Confirm
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>