<div class="p-5 row justify-content-center" style="min-height: 27rem; background-color: #F8F8F8">
    <div class="card p-1 mb-3 col-11" style="background: white; border-radius: 6px;">
        <div class="card-body">
            <div class="row justify-content-between align-items-center text-light">
                <h4 class="card-title fw-bold col mb-2" style="color:#1FAB89;">Mentor Name</h4>
                <div class="col-4 row justify-content-end mb-3 gap-2">
                    <button class="col-3 btn btn-danger">Reject</button>
                    <button class="col-3 btn btn-info">Show CV</button>
                    <button class="col-3 btn btn-success" style="background-color: #1FAB89;">Accept</button>
                </div>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minima ducimus
                molestias nisi aspernatur? Dolor repudiandae expedita ipsa rem tempore, dicta laborum, reprehenderit
                commodi harum repellat, consequatur asperiores perferendis sunt. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Itaque est quibusdam eaque iusto eligendi distinctio totam. Dignissimos error delectus
                repellendus, sunt dicta eum reiciendis suscipit veritatis, nobis dolor ducimus sed?</p>
        </div>
    </div>
    <div class="card p-1 mb-3 col-11" style="background: white; border-radius: 6px;">
        <div class="card-body">
            <div class="row justify-content-between align-items-center text-light">
                <h4 class="card-title fw-bold col mb-2" style="color:#1FAB89;">Mentor Name</h4>
                <div class="col-4 row justify-content-end mb-3 gap-2">
                    <button class="col-3 btn btn-danger">Reject</button>
                    <button class="col-3 btn btn-info">Show CV</button>
                    <button class="col-3 btn btn-success" style="background-color: #1FAB89;">Accept</button>
                </div>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minima ducimus
                molestias nisi aspernatur? Dolor repudiandae expedita ipsa rem tempore, dicta laborum, reprehenderit
                commodi harum repellat, consequatur asperiores perferendis sunt. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Itaque est quibusdam eaque iusto eligendi distinctio totam. Dignissimos error delectus
                repellendus, sunt dicta eum reiciendis suscipit veritatis, nobis dolor ducimus sed?</p>
        </div>
    </div>
    <div class="card p-1 mb-3 col-11" style="background: white; border-radius: 6px;">
        <div class="card-body">
            <div class="row justify-content-between align-items-center text-light">
                <h4 class="card-title fw-bold col mb-2" style="color:#1FAB89;">Mentor Name</h4>
                <div class="col-4 row justify-content-end mb-3 gap-2">
                    <button class="col-3 btn btn-danger">Reject</button>
                    <button class="col-3 btn btn-info">Show CV</button>
                    <button class="col-3 btn btn-success" style="background-color: #1FAB89;">Accept</button>
                </div>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minima ducimus
                molestias nisi aspernatur? Dolor repudiandae expedita ipsa rem tempore, dicta laborum, reprehenderit
                commodi harum repellat, consequatur asperiores perferendis sunt. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Itaque est quibusdam eaque iusto eligendi distinctio totam. Dignissimos error delectus
                repellendus, sunt dicta eum reiciendis suscipit veritatis, nobis dolor ducimus sed?</p>
        </div>
    </div>
</div>